* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
}

.card {
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background: #272d40;
    border-radius: 15px;
    padding: 20px;
}